spring:
  profiles:
    active: dev
  servlet:
    multipart:
      max-file-size: 30MB
      max-request-size: 30MB
  jpa:
    properties:
      hibernate:
        default_batch_fetch_size: 50

server:
  error:
    include-stacktrace: never

logging:
  level:
    org.hibernate.SQL: debug
