spring:
  profiles:
    active: dev
  servlet:
    multipart:
      max-file-size: 30MB
      max-request-size: 30MB

server:
  error:
    include-stacktrace: never

logging:
  level:
    org.hibernate.SQL: debug
