// 사용법
// cd vue/src/assets/scss
// node-sass --watch index.scss ../css/index.css

$primary: #0d6efd;
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #c5c5c5;
$dark: #2f3136;

$white: #f8f9fa;
$hover: #3c3f45;
$content: #32353b;
$border: #54565a;

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

/******************************************************************/

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'Pretendard-Regular';
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: $light;
  background: $dark;

  > * {
    color: $light;
  }
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-1 {
  margin-right: 0.25rem !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.mr-3 {
  margin-right: 1rem !important;
}

.mr-4 {
  margin-right: 1.5rem !important;
}

.mr-5 {
  margin-right: 3rem !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: 0.25rem !important;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.ml-3 {
  margin-left: 1rem !important;
}

.ml-4 {
  margin-left: 1.5rem !important;
}

.ml-5 {
  margin-left: 3rem !important;
}

.outline-none {
  outline: none !important;
}
.shadow-none {
  box-shadow: none;
}

#wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#sidebar-wrapper {
  // min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
  box-shadow: 0.3em 0.1rem 1rem rgba(233, 233, 233, 0.04);
  z-index: 9999;
  display: flex;
  flex-direction: column;

  & * {
    color: $light;
  }

  & .sidebar-heading {
    font-size: 1.2rem;
    height: 56px;
    display: flex;
    align-items: center;
    padding: 10px;

    &:hover {
      background: $hover;
    }
  }

  & .list-group {
    width: 15rem;
    padding: 10px;
    margin-bottom: 40px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 3px; /* 스크롤바의 너비 */
    }

    &:hover::-webkit-scrollbar-thumb {
      background: $secondary; /* 스크롤바의 색상 */
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: $dark; /*스크롤바 뒷 배경 색상*/
    }
  }

  & button {
    color: #fafafa;
  }
}

#page-content-wrapper {
  min-width: 100vw;
  background: $content;
  position: relative;
  display: flex;
  flex-direction: column;

  & .page-content {
    flex: 1;
    overflow: hidden;
    flex-direction: row;
    display: flex !important;

    & .content-chat-area {
      height: 100%;
      display: flex;
      flex: 1;
      flex-direction: column;

      & .chat-list {
        flex: 1;
        position: relative;

        & .list-box {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          overflow-y: auto;
          padding: 20px;

          & .more-loading {
            position: absolute;
            top: 20px;
            right: 0;
            left: 0;
          }

          &::-webkit-scrollbar {
            width: 3px; /* 스크롤바의 너비 */
          }

          &:hover::-webkit-scrollbar-thumb {
            background: $secondary; /* 스크롤바의 색상 */
            border-radius: 10px;
          }

          &::-webkit-scrollbar-track {
            background: $dark; /*스크롤바 뒷 배경 색상*/
          }
        }
      }

      & .chat-footer {
        border-top: 1px solid $hover;
      }
    }

    & .channel-member-list {
      width: 250px;
      background: #2b2d31;
      padding: 20px;

      & .member-item {
        padding: 7px;
        margin-bottom: 7px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        opacity: 0.4;

        &.on {
          opacity: 1;
        }

        &:hover {
          background: $content;
          opacity: 1;
        }

        & .profile-img {
          width: 35px;
          height: 35px;
          margin-right: 10px;
        }
      }

      &::-webkit-scrollbar {
        width: 3px; /* 스크롤바의 너비 */
      }

      &:hover::-webkit-scrollbar-thumb {
        background: $secondary; /* 스크롤바의 색상 */
        border-radius: 10px;
      }

      &::-webkit-scrollbar-track {
        background: $dark; /*스크롤바 뒷 배경 색상*/
      }
    }
  }

  > nav.navbar {
    border-bottom: 1px solid $border;

    & * {
      color: $light;
    }
  }
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.bi {
  vertical-align: -0.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle {
  outline: 0;
}

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  font-weight: 500;
  background-color: transparent;
  border: 0;
  font-size: 14px;
}

.btn-toggle:hover,
.btn-toggle:focus {
  background-color: $hover;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: '\F285';
  font-family: 'Bootstrap-icons';
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
  margin-right: 5px;
}

// .btn-toggle[aria-expanded='true'] {
//   color: rgba(0, 0, 0, 0.85);
// }

.btn-toggle[aria-expanded='true']::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
  text-decoration: none;
  font-size: 16px;

  &::before {
    content: '\F40A';
    font-family: 'Bootstrap-icons';
    margin-right: 3px;
  }

  &:hover {
    background-color: $hover;
  }
  &:focus {
    background-color: $hover;
  }
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold {
  font-weight: 600;
}

.lh-tight {
  line-height: 1.25;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;

  > p {
    color: #a2aab7;
  }
}
.divider:after,
.divider:before {
  content: '';
  flex: 1;
  height: 1px;
  background: $border;
}
