/* spinner 컴포넌트 - bootstrap spinner custom */
.spinner-grow-sm {
  margin-right: 0.3rem;
  width: 0.7rem;
  height: 0.7rem;
}
.spinner-grow:nth-of-type(2) {
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}
.spinner-grow:nth-of-type(3) {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
 }

/* 모달 컴포넌트 등에서 사용하는 form styling*/
.custom-input {
  box-sizing: border-box;
  width: 100%;
  height: 37px;
  padding: 10px;
  color: #f3f4f5;
  background-color: #1e1f22;
  border: none;
  border-radius: 3px;
  outline: 0;
}
.custom-confirm-btn {
  width: 100%;
  height: 44px;
  min-width: 130px;
  min-height: 44px;
  margin-top: 1rem;
  font-size: 18px;
  line-height: 14px;
  color: #ffffff;
  background-color: #5865f2;
  transition: background-color 0.17s ease, color 0.17s ease;
  outline: 0;
  border: none;
  border-radius: 3px;
}
.custom-confirm-btn:hover {
  background-color: #4752C4;
  color: #ffffff;
}
 .custom-confirm-btn.disabled {
  background-color: #5865f2;
}

 /* 설정 관련 페이지 헤더 텍스트*/
.settings-header-text {
  color: #f3f4f5;
  font-size: 25px;
  line-height: 25px;
  font-weight: 600;
}

 /* 검색창 컴포넌트 */
.search-bar-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  box-sizing: border-box;
  padding: 1px;
  min-width: 0;
  align-items: center;
  background: #1e1f22;
  border-radius: 4px;
  margin: 16px 0;
}
.search-bar-container > .search-input {
  box-sizing: border-box;
  height: 30px;
  margin: 1px;
  padding: 0 8px;
  flex: 1;
  background: #1e1f22;
  font-size: 16px;
  line-height: 32px;
  border: none;
  border-radius: 4px;
  color: #d9d9d9;
  outline: 0;
}
.search-bar-container > .icon-layout {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: text;
}
.search-bar-container > .icon-layout.pointer-x-icon {
  cursor: pointer;
}
.search-bar-container > .icon-layout.point-search-icon {
  pointer-events: none;
}
.search-bar-container > .icon-layout > .icon-container{
  position: relative;
  width: 20px;
  height: 20px;
}
.icon-layout > .icon-container >.icon.icon-visible {
  transform: rotate(0deg);
  opacity: 1;
}
.icon-layout > .icon-container > .icon {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.1s ease-out, -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out, opacity 0.1s ease-out;
  transition: transform 0.1s ease-out, opacity 0.1s ease-out,
  -webkit-transform 0.1s ease-out;
  transform: rotate(90deg);
  color: #b8b9bf;
}

/* modal 컴포넌트 - bootstap modal custom */
.modal {
  --bs-modal-width: 440px;
  background-color: rgba(1, 1, 1, 0.85);
}
.modal-backdrop {
  z-index: -1;
}
.btn-close {
  color: #74767B;
  padding: calc(var(--bs-modal-header-padding-y) * 0.5)
  calc(var(--bs-modal-header-padding-x) * 0.5);
  margin: calc(-0.5 * var(--bs-modal-header-padding-y))
  calc(-0.5 * var(--bs-modal-header-padding-x))
  calc(-0.5 * var(--bs-modal-header-padding-y)) auto;
  background: transparent url('../images/x.svg') center/1.3em auto no-repeat;
}

/* 컨텐츠가 없을 경우의 container */
.empty-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.empty-image {
  background: no-repeat;
  background-image: url('../images/nonUser.svg');
  flex: 1 1 auto;
  width: 425px;
  background-size: 100% 100%;
  height: 220px;
  margin-bottom: 40px;
}
.empty-message {
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  margin-top: 5px;
}
/*channelView contextmenu 커스텀*/
.custom-context-name {
  color: #9ca0a6 !important;
}

.custom-context-disable {
  color : #d11c1c !important;
}
.vue-simple-context-menu {
  background-color: #111214 !important;
  border-bottom-width: 0px;
  border-radius: 4px;
  box-shadow: 0 3px 6px 0 rgba(51, 51, 51, 0.2);
  display: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  z-index: 1000000;
}
.vue-simple-context-menu--active {
  display: block;
}
.vue-simple-context-menu__item {
  align-items: center;
  /*color: #9ca0a6 !important;*/
  cursor: pointer;
  display: flex;
  padding: 5px 15px;
}
.vue-simple-context-menu__item:hover {
  background-color: #4651c2 !important;
  color: #eaebf7 !important;
}
.vue-simple-context-menu__divider {
  background-clip: content-box;
  background-color: #2e2f34 !important;
  box-sizing: content-box;
  height: 2px;
  padding: 4px 0;
  pointer-events: none;
}
.vue-simple-context-menu li:first-of-type {
  margin-top: 4px;
}
.vue-simple-context-menu li:last-of-type {
  margin-bottom: 4px;
}

/**
사용자 프로필 조회 및 수정 모달
 */
/* 프로필 상단 영역 */
.modal-body .profile-banner {
  min-height: 116px;
  border-radius: 4px 4px 0 0;
  background-color: #1e1f22;
}
/* 프로필 이미지 hover text */
.profile-box {
  position: relative;
  cursor: default;
  pointer-events: none;
}
.profile-box .profile-update-text {
  color: #fff;
  position: absolute;
  top: -80px;
  left: 22px;
  background: rgba(0, 0, 0, 0.5);
  width: 120px;
  height: 120px;
  opacity: 0;
  /*border-radius: 6%;*/
  border-radius: 50%;
  padding: 3em 0;
  text-align: center;
  transition: opacity 0.35s ease-in-out;
}
.update-mode {
  cursor: pointer;
  pointer-events: auto;
}
.update-mode:hover .profile-update-text {
  opacity: 1;
}
/* 프로필 편집 버튼 */
.modal-body .profile-update-button {
  top: 14px;
  right: 16px;
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
}
.modal-body .profile-update-button-image {
  width: 120px;
  height: 120px;
  position: absolute;
  top: -80px;
  left: 22px;
  /*border-radius: 6%;*/
  border-radius: 50%;
}
/* 프로필 수정 Form */
.modal-body .profile-update-form {
  display: flex;
  flex-direction: column;
  background-color: #1e1f22;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  padding: 1.2em;
  color: white;
  margin: 1rem;
}
.modal-body .update-input-box label {
  font-size: 13px;
  color: #bcbcbd;
}
.modal-body .update-input-box .custom-input {
  font-size: 17px;
  background-color: #313338;
}
.modal-body .update-input-box .custom-input[readonly] {
  background-color: #1e1f22;
  padding: 0;
  height: auto;
  cursor: default;
}
/* 사용자 역할(권한) Box */
.modal-body .role-box {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: fit-content;
  height: 22px;
  margin: 0 4px 4px 0;
  padding: 4px;
  background: #161616;
  border-radius: 4px;
}
.modal-body .role-circle {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  padding: 0;
  margin: 0 4px;
  background-color: #c4c9ce;
  border-radius: 50%;
  forced-color-adjust: none;
}
/* 닫기 및 수정하기 버튼 영역 */
.modal-body .update-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 0px 0px 4px 4px;
  background-color: #1E1F22;
  padding: 12px;
}
.modal-body .custom-cancel-btn {
  background-color: transparent;
  border: none;
  width: auto;
  height: 32px;
  min-width: 60px;
  min-height: 32px;
  color: #fdfdfd;
  margin-right: 12px;
}
.modal-body .custom-cancel-btn:hover {
  text-decoration: underline;
}
.modal-body .update-confirm-btn {
  width: auto;
  min-width: 60px;
  min-height: 32px;
  background-color: #5865f2;
  transition: background-color 0.17s ease, color 0.17s ease;
  outline: 0;
  border: none;
  border-radius: 3px;
  color: #fdfdfd;
}
.modal-body .update-confirm-btn.disabled {
  background-color: #5865f2;
}
.modal-body .update-confirm-btn:hover {
  background-color: #4752c4;
  color: #ffffff;
}
/* 사용자 역할 선택 select box custom styling*/
.modal-body .form-select {
  background-image: url('../images/expand.svg');
  background-color: #313338;
  color: #f3f4f5;
  border: 1px solid #313338;
  cursor: pointer;
}
.modal-body .form-select:focus {
  border: 1px solid #313338;
  box-shadow: none;
}
.modal-body .form-select option {
  background-color: #313338;
  color: #f3f4f5;
  cursor: pointer;
}